<div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container-fluid">
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
       <a class="brand" href="#">OPPCIS</a>
       <div class="nav-collapse">
         <ul class="nav pull-right">
          <% if !user_signed_in?%>
						 <li><a href="javascript:{}" data-section="2" class="link-transit" id="join-button">Register</a></li>
          <li><a href="javascript:{}" data-section="3" class="link-transit" id="login-button">Login</a></li>
						<% else %>
          <li> <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :class=>"btn", :confirm=>"Are you sure you want to log out?"%></li>
          <% end %>
					</ul>
       </div>
     </div>
   </div>
</div>