<h4>Editing agency</h4>

<%= render 'form' %>
<%= link_to "Re-Generate Security Code", "#", :class=>"btn btn-danger btn-small", :onclick=>"alert('Generate me!')", :confirm=>"Are you sure?" %>
<br class="clearfix">
<br class="clearfix">
<%= link_to 'Show', @agency, :class=>"btn btn-mini" %>
<%= link_to 'Back', agencies_path, :class=>"btn btn-mini" %>
