<br class="clearfix">
<table class="table table-bordered table-striped table-hover" id="all-users">
<thead>
<tr>
	<th><h6>Name</h6></th>
	<th></th>
	<th></th>
	<th></th>
</tr>
</thead>

<tbody>
	
	<% @agencies.each do |agency| %>
	  <tr>
	    <td><%= agency.name %></td>
	    <td><%= link_to 'Show', agency %></td>
	    <td><%= link_to 'Edit', edit_agency_path(agency) %></td>
	    <td><%= link_to 'Destroy', agency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
	<% end %>
</tbody>
</table>