/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.close-icon{
position: absolute;
width: 35px;
height: 35px;
margin-top: -1px;
font-size: 15px;
font-weight: 700;
line-height: 30px;
color: white;
text-align: center;
background: #000;
border: 3px solid white;
-webkit-border-radius: 23px;
-moz-border-radius: 23px;
border-radius: 23px;
-webkit-border-radius: 23px;
-moz-border-radius: 23px;



-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;}




.close-icon:hover {
background: #333;
color: #fff;
opacity: 0.9;
filter: alpha(opacity=100);
opacity: 0.9;
filter: alpha(opacity=100);
text-decoration:none;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;

}

 

html,body{
	padding-top: 0;
	padding-bottom: 15px;
	width:100%;
	height:100%;
	
}

.slide{
	background:url('../assets/subtle_dots.png');
	background-attachment: fixed;
	width:100%;
	height:400px;
	position: relative;
	overflow: hidden;
}





#login{
	display:none;
	height: 323px;
	overflow: hidden;
	
}

#forgot{
	display:none;
	height: 323px;
	overflow: hidden;
	position:static;
}

#fliptrip-join{
	display:none;
	height: 323px;
	
}


#postit{
	background: url('../assets/postit2.png');
	width: 339px;
	height:323px;
	float:none;
	margin-top: -3.5%;
}



.login-form{
	width:339px;
	height:260px;
	position: relative;
	left:13%;
	top:15%;
}

.forgot-form{
	width:339px;
	height:260px;
	position: relative;
	left:13%;
	top:15%;
}


.register-form{
	width:339px;
	height:260px;
	position: relative;
	left:13%;
	top:11%;
}

.login_email,.login_pass{
	width:250px;
	height:30px;
	font-size:16px;
	font-weight: bold;
}

.register_email, .register_pass, .register_conf_pass{
	width:250px;
	height:20px;
	font-size:13px;
	font-weight: bold;
}

#user_agency_id{
	width:265px;
	height:30px;
	font-size:13px;
	font-weight: bold;
}