$navbarBackground:                #2989d8 ;
$navbarBackgroundHighlight:       #7db9e8 ;
$navbarText:                      #f9ed9d ;
$navbarLinkColor:                 #ffffff ;
$navbarSearchPlaceholderColor:    #EEC844 ;
$black:							  #000000 ;
$baseFontSize:					  12px    ;
$baseFontFamily:	              Helvetica;
$textColor:						  #000000 ;

@import "bootstrap";

/* Header Menu */
.navbar{
	width:100%;
	height:auto;
	position:static;
}

/* Alert Message */

.alert{
	margin-left:1%;
	margin-top:0%;
}

#user_remember_me{
	float:none;
	margin-top:-0.2%;
}

/* Alert Message */
.alert{
	font-size:12px;
	font-weight:bold;
	color:#333;
}

/* Table */

.table{
	font-size:8pt;
}

.table-ppmp{
	font-size:9pt;
}


/* Rotate Text */
#rotate{
-webkit-transform: rotate(-90deg); 
-moz-transform: rotate(-90deg);

}

/* Modal */
#myModalConfirm{
	height:auto;
	float:left;
	margin-top:-15%;
	
}