<br class="clearfix">

<table class="table table-bordered table-striped table-hover" id="all-users">
<thead>
<tr>
	<th><h6>Email</h6></th>

</tr>
</thead>

<tbody>
	<% @users.each do |user| %>
	<tr>
		<td>
	<%= link_to user.email, [:admin, user] %>
		</td>
	</tr>
	<% end %>
</tbody>
</table>