<table class="table table-bordered">
	<thead>
		<tr>
			<th>CODE</th>
			<th>D</th>
			<th>E-U</th>
			<th>MOP</th>
			<th>PPC</th>
			<th>AP</th>
			<th>PBC</th>
			<th>E</th>
			<th>SOB</th>
			<th>BE</th>
			<th>PQ</th>
			<th>NOA</th>
			<th>CS</th>
			<th>NOP</th>
			<th>D/C</th>
			<th>A/T</th>
			<th>SOF</th>
			<th>T</th>
			<th>M</th>
			<th>CO</th>
			<th>LOIO</th>
			<th>PPC</th>
			<th>PBC</th>
			<th>EC</th>
			<th>SOB</th>
			<th>BE</th>
			<th>PQ</th>
			<th>R</th>
		</tr>
	</thead>
	<tbody>
		<% @project_procurement_management_plan.projects.each do |project| %>
		<tr>
			<td><%= project.code %></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<% end %>
	</tbody>
</table>
