<table class="table table-bordered table-striped table-hover table-ppmp" id="ppmp-form">
	<thead>
		<tr>
			<th>CODE</th>
			<th>Contract Package Description</th>
			<th>Procurement Method</th>
			<th>Project Cost/ ABC PHP</th>
			<th>Pre-Procurement Conference</th>
			<th>Posting Advertisement</th>
			<th>Pre-Bid Conference</th>
			<th>Submission and Receipt of Bids</th>
			<th>Bid Evaluation</th>
			<th>Post Qualification Evaluation</th>
			<th>Award of Contract</th>
			<th>Notice to Proceed Delivery Completion</th>
			<th>Acceptance/<br/>Turnover</th>
			<th>Source of Funds Total</th>
			<th>ABC Total</th>
			<th>Mode</th>
			<th>CO</th>
			<th>Contract Cost</th>
		
		</tr>
	</thead>
	<tbody>
		<% @project_procurement_management_plan.projects.each do |project| %>
		<tr>
			<td><%= project.code %></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
		</tr>
		<% end %>
	</tbody>
</table>
<br/>
