<h4>Edit Project Procurement Plan</h4>

<%= render 'form' %>

<%= link_to 'Show', @project_procurement_management_plan, :class=>"btn btn-mini" %>
<%= link_to 'Back', project_procurement_management_plans_path, :class=>"btn btn-mini"%>
