<h1>Editing project_procurement_management_plan</h1>

<%= render 'form' %>

<%= link_to 'Show', @project_procurement_management_plan %> |
<%= link_to 'Back', project_procurement_management_plans_path %>
