<br class="clearfix"/>
<div id="form-body">
<div id="ppmp-form-title"><center><h4>New Project Procurement Management Plan</h4></center></div>
<br class="clearfix"/>
<%= render 'form' %>
</div>
<br class="clearfix"/>
<%= link_to 'Back', project_procurement_management_plans_path, :class=>"btn btn-small" %>
